/*=============================
    About Content
===============================*/

.pageTitle
{
    height: 75px;

    background-image: url("image/feature.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.pageTitleOverlay
{
    height: 50px;
    
    padding-left: 20px;
    padding-right: 20px;
}

.pageContent
{
    text-align: center;
}