/*=============================
    Contact Content
===============================*/

.pageTitle
{
    height: 75px;

    background-image: url("image/feature.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.pageTitleOverlay
{
    height: 50px;

    padding-left: 20px;
    padding-right: 20px;
}

.serviceAreaTitle
{
    text-align: center;
}

.serviceArea
{
    height: 400px;

    background-image: url("image/serviceArea.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contactCallNow a
{
    background-color: #59ba51;

    margin-top: 10px;
    margin-bottom: 10px;
}

.contactFacebook a
{
    background-color: #59ba51;

    margin-top: 10px;
    margin-bottom: 10px;
}