/*=============================
    Footer
===============================*/

footer
{
    border-top-color: #00bae3;
    border-top-width: 10px;
    border-top-style: solid;
}

.footerInformation
{
    text-align: center;
}

.footerCall
{
    padding-top: 10px;
    padding-bottom: 10px;
}

.footerSocialMedia
{
    padding-top: 10px;
    padding-bottom: 10px;
}