/*=============================
    Generics
===============================*/

.mainBackground
{
    background-color: #ccffcc;
}

.mainTransparentBackground
{
    background-color: rgba(204, 255, 204, 0.75)
}

.footerBackground
{
    background-color: white;
}

.navbarColor
{
    background-color: #59ba51;
}

.logoFont
{
    font-family: 'Limelight', sans-serif;
    color: black
}

.sloganFont
{
    font-family: 'Lobster', sans-serif;
    color: black
}

.topBottom10pxMargin
{
    margin-top: 10px;
    margin-bottom: 10px;
}