/*=============================
    Header
===============================*/

.headerLogo
{
    height: 100px;   
}

.headerText p
{
    text-align: center;
}

.businessName
{
    font-size: 150%;
}

.homeLink:hover, .homeLink:focus
{
    text-decoration: none;
}

@media (min-width:576px)
{
    .headerLogo
    {
        height: auto;
        width: 100%;   
    }

    .headerText p
    {
        text-align: left;
    }

    .businessName
    {
        font-size: 130%;
    }

    .businessSlogan
    {
        font-size: 120%;
    }
}

@media (min-width:768px)
{
    .businessName
    {
        font-size: 200%;
    }

    .businessSlogan
    {
        font-size: 150%;
    }
}