/*=============================
    Feature
===============================*/


.feature
{
    background-image: url("image/feature.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    height: 400px;
}

.featureContainer
{
    padding-left: 15px;
    padding-right: 15px;
}

.featureOverlay
{
    height: 350px;
    width: 250px;

    padding: 15px;

    text-align: center;
    font-size: 150%;
    font-weight: bold;
}

.featureOverlay a
{
    background-color: #59ba51;
}