/*=============================
    Services
===============================*/

.serviceContent p
{
    text-align: center;
}

.servicesContainer
{
    padding-left: 15px;
    padding-right: 15px;
}

.serviceImage
{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.serviceOneImage
{
    background-image: url("image/tool01.jpg");
}

.serviceTwoImage
{
    background-image: url("image/tool02.jpg");
}

.serviceThreeImage
{
    background-image: url("image/tool03.jpg");
}

@media (min-width:768px)
{
    .serviceImage
    {
        height: 150px;
    }
}